<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Respostas</title>
  </head>
  <body>
    <h1>Respostas</h1>
    <main>
      <h2>Questão A</h2>
      <section>
        <ol>
          {% for livro in livros_por_autor %}
            <li>{{ livro.title }} ({{ livro.author.name }})</li>
          {% endfor %}
        </ol>
      </section>

      <h2>Questão B</h2>
      <section>
        <h3>Livros com a tag 'Ciência'</h3>
        <ol>
          {% for livro in livros_com_tag_especifica %}
            <li>{{ livro.title }}</li>
          {% endfor %}
        </ol>
      </section>

      <h2>Questão C</h2>
      <section>
        <ol>
          {% for autor in autores_com_palavra_especifica_bio %}
            <li>{{ autor.name }}: {{ autor.bio }}</li>
          {% endfor %}
        </ol>
      </section>

      <h2>Questão D</h2>
      <section>
        <ol>
          {% for livro in livros_com_avaliacoes_altas %}
            <li>{{ livro.title }}</li>
          {% endfor %}
        </ol>
      </section>
      
      <h2>Questão E</h2>
      <section>
        <ol>
          {% for perfil in usuarios_com_website_especifico %}
            <li>{{ perfil.user }} ({{ perfil.website }})</li>
          {% endfor %}
        </ol>
      </section>
      
      <h2>Questão F</h2>
      <section>
        <ol>
          {% for livro in livros_sem_avaliacoes %}
            <li>{{ livro.titulo }}</li>
          {% endfor %}
          <li>livros_sem_avaliacoes = Book.objects.filter(reviews__rating__isnull=True)</li>
        </ol>  
      </section>
      
      <h2>Questão G</h2>
      <section>
        <ol>
          {% for autor in autores_numero_livros_ordem %}
            <li>{{autor.name}} ({{ autor.qtde_livros }})</li>
          {% endfor %}
        </ol>
      </section>
      
      <h2>Questão H</h2>
      <section>
        <ol>
          {% for livro in livros_resumo_longo %}
            <li>{{ livro.title }} ({{ livro.qtde_palavras }})</li>
          {% endfor %}
          <li>Não há nenhum livro com resumo de mais de 150 palavras.</li>
        </ol>
      </section>
      
      <h2>Questão I</h2>
      <section>
        <ol>
          {% for avaliacao in avaliacoes_livro_autor_especifico %}
            <li>{{ avaliacao.book.title }} ({{ avaliacao.book.author.name }}): {{ avaliacao.review_text }}</li>
          {% endfor %}
        </ol>
      </section>
      
      <h2>Questão J</h2>
      <section>
        <ol>
          {% for livro in livros_com_mais_de_uma_tag %}
            <li>{{ livro.title }}</li>
          {% endfor %}
        </ol>
      </section>
    </main>
  </body>
</html>
