<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Respostas</title>
  </head>
  <body>
    <h1>Respostas</h1>
    <main>
      <h2>Questão A</h2>
      <section>
        <ol>
          {% for livro in livros_por_autor %}
            <li>{{ livro.title }} ({{ livro.author.name }})</li>
          {% endfor %}
        </ol>
      </section>

      <h2>Questão B</h2>
      <section>
        <h3>Livros com a tag 'Ciência'</h3>
        <ol>
          {% for livro in livros_com_tag_especifica %}
            <li>{{ livro.title }}</li>
          {% endfor %}
        </ol>
      </section>

      <h2>Questão C</h2>
      <section>
        <ol>
          {% for autor in autores_com_palavra_especifica_bio %}
            <li>{{ autor.name }}: {{ autor.bio }}</li>
          {% endfor %}
        </ol>
      </section>

      <h2>Questão D</h2>
      <section>
        <ol>
          {% for livro in livros_com_avaliacoes_altas %}
            <li>{{ livro.title }}</li>
          {% endfor %}
        </ol>
      </section>
      
      <h2>Questão E</h2>
      <section></section>
      
      <h2>Questão F</h2>
      <section></section>
      
      <h2>Questão G</h2>
      <section></section>
      
      <h2>Questão H</h2>
      <section></section>
      
      <h2>Questão I</h2>
      <section></section>
      
      <h2>Questão J</h2>
      <section></section>
    </main>
  </body>
</html>
